<div id="<%= dom_id student %>">
  <p>
    <strong>Dob:</strong>
    <%= student.dob %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= student.contact %>
  </p>

  <p>
    <strong>Father:</strong>
    <%= student.father %>
  </p>

  <p>
    <strong>Mother:</strong>
    <%= student.mother %>
  </p>

  <p>
    <strong>About:</strong>
    <%= student.about %>
  </p>

  <p>
    <strong>User:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= student.classroom_id %>
  </p>

</div>
