<div id="<%= dom_id course %>">
  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= course.classroom_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject_id %>
  </p>

  <p>
    <strong>Course date:</strong>
    <%= course.course_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

</div>
